File>Import, "Dataset-MM", edu.mbl.jif.mmxplugins.MMgr_DatasetOpener("")
Plugins>OpenPolScope, "Open Dataset-MM", edu.mbl.jif.mmxplugins.MMgrDatasetOpener("")
Plugins>OpenPolScope, "Orientation_Indicators", edu.mbl.jif.mmxplugins.OrientationIndicatorsPlugin("")
#Plugins>OpenPolScope, "ROI_Averages_With_Lines_V1", edu.mbl.cdp.ps.orient.ROI_Averages_With_Lines_V1("")
Plugins, "Navigator", edu.mbl.jif.mmxplugins.ImageNavigatorPlugin("")
Plugins, "Console", edu.mbl.jif.mmxplugins.JavaConsole_("")
Plugins>MicroMgr_Dataset, "MFM Z-Expander", edu.mbl.jif.mfmconverter.MFM_Zexpander("")
Plugins>MicroMgr_Dataset, "Dataset Cropper", edu.mbl.jif.datasetconvert.DatasetCropperApp("")
