File>Import, "MMgrDataset", edu.mbl.jif.mmxplugins.MMgr_DatasetOpener("")
Plugins>OpenPolScope, "Orientation_Indicators", edu.mbl.jif.mmxplugins.OrientationIndicatorsPlugin("")
#Plugins>OpenPolScope, "ROI_Averages_With_Lines_1",  edu.mbl.jif.mmxplugins.ROI_Averages_With_Lines_1("")
Plugins, "Navigator", edu.mbl.jif.mmxplugins.ImageNavigatorPlugin("")
Plugins, "Console", edu.mbl.jif.mmxplugins.JavaConsole_("")
Plugins>MMgrDataset, "Open MMgrDataset", edu.mbl.jif.mmxplugins.MMgrDatasetOpener("")
Plugins>MMgrDataset, "MFM Z-Expander", edu.mbl.jif.mmxplugins.MFM_Zexpander("")
Plugins>MMgrDataset, "Dataset Converter", edu.mbl.jif.mmxplugins.Dataset_Converter("")
